p{
    font-style: italic;
    color:purple;

}
h1{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom:10px
}

button{
    border:solid;
    border-radius: 5px;
    border-color: blueviolet;
    color:black;
    background-color:rgb(111, 111, 244);
   
}

body{
    background-color: beige;
    margin:40px;
    text-align: center;
}

button:hover{
    transform: translateY(-2px);
}
div1{
    background-color: rgb(41, 204, 204);
    alignment-baseline: left;
}
div2{
    background-color: rgb(41, 204, 204);
}
div3{
    background-color: rgb(41, 204, 204);
}